body {
    background: black;
}

.container {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */

    justify-content: center;
    /* align-content: center; */
}

.title {
    color: white;
    text-align: center;
    font-size: 300%;
}

.blueBalk {
    /* background-color: blue;
    border: 30px outset blue; */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    background-color: #7BD7FF;
}

.pinkSquare {
    position: relative;
    height: 50px;
    width: 50px;
    border: 7px solid #FF7B7B;
}

img {
    padding-top: 3rem;
    position: absolute;
    z-index: -1;
}
@media (min-width: 600px){
    /* mobile first */

    p {
        font-size: 1.25rem;
    }

    body {
        background: black;
    }
}

@media (min-width: 800px){
    p{
        font-size: 1.5rem;
    }

    body {
        background: black;
    }
}