body {
    background: black;
}

h1, h2, h3 {
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #7BD7FF;
    border: 30px 23px;
    margin: 20px 0px 20px;
}

img {
    z-index: 1;
    max-width: 100%;
    height: auto;
    margin-right: 5rem;
    padding-right: 10rem;
    justify-content: flex-start;
}


/* .title {
    color: white;
    text-align: center;
    font-size: 300%;
} */

.pinkSquare {
    position: relative;
    height: 50px;
    width: 50px;
    border: 7px solid #FF7B7B;
    z-index: 0;
    border-radius: 4px;
}


/* img {
    padding-top: 3rem;
    position: absolute;
    z-index: -1;
} */

@media (min-width: 600px){
    /* mobile first */
    body {
        background: black;
    }
}

@media (min-width: 800px){
    body {
        background: black;
    }
}